body {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
    letter-spacing: 0.1em;
    /* No need to specify font-size here since it's defined for #affirmation */
}

#affirmation-container {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#affirmation {
    font-size: 8vw; /* Adjusted for better mobile readability */
    line-height: 1.2; /* Adjust line height for aesthetics */
    margin: 0; /* Remove default paragraph margin */
}

/* Adjust font size for devices wider than 600px */
@media (min-width: 600px) {
    #affirmation {
        font-size: 36px; /* Fixed font size for larger screens */
    }
}

/* Adjust font size for devices narrower than 300px */
@media (max-width: 300px) {
    #affirmation {
        font-size: 5vw; /* Slightly larger font size for very small screens */
    }
}
